
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
  
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
     <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav">

          <a class="nav-link navlogo text-center" href="index.php">
            <img src="../../../assets/Capture.JPG">
          </a>

        <li class="nav-item">
          <a class="nav-link sidefrst" routerLink="/dashboard">
            <span class="textside">  Dashboard</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link sidesecnd" routerLink="/user-profile">
            <span class="textside">  User Profile</span>
          </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link sidesthrd" routerLink="/tables">
            <span class="textside">  Tables</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link sidesforth" routerLink="/chats">
            <span class="textside">  Chats</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link sidesfifth" routerLink="/donations">
            <span class="textside">  Donation</span>
          </a>
        </li>
      
      </ul>
      
      <ul class="navbar-nav2 ml-auto">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome Women's Health</a>
            <ul class="dropdown-menu">
                <li class="resflset"><a href="profile.php"><i class="fa fa-fw fa-cog"></i> Edit profile</a></li>
                <li class="divider"></li>
                <li class="resflset"><a href="#"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
            </ul>
        </li>
      </ul>
      
    </div>
  </nav>





<!-- <table class="User" style="margin-left:15%">
  <br>
  <br> -->
<!-- <caption><b>User Information</b></caption>
<caption><b>User Information</b></caption> -->
<!-- <h1> User Information</h1>
<br>
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>Age</th>
    <th>Email</th>
  </tr>
  <tr>
   <td>
      <div *ngFor="let users of userList">
          {{users?.displayName}}
        
        </div>
   </td>
   <td>
      <div *ngFor="let users of userList">
          {{users?.gender}}
        
        </div>
        <td>
            <div *ngFor="let users of userList">
                {{users?.age}}
              
              </div>
        </td>
 <td>
    <div *ngFor="let users of userList">
        {{users?.email}}
      
      </div>
 </td>
 
 
 
  </tr>
</table>
<br>
<table style="margin-left:15%">
  <br>
<h1>Cancer Chat History</h1>
<br>
  <tr>
    <th>Name</th>
    <th>Message</th>
    <th>UserID</th>
  </tr>
  <tr>
   <td>
      <div *ngFor="let chats of chatsList">
        {{chats?.Name}}
        &nbsp;
        &nbsp;
        </div>
   </td>
   <td>
  <div *ngFor="let chats of chatsList">
      {{chats?.Message}}
        
  </div>
   </td>
 <td>
    <div *ngFor="let chats of chatsList">
        {{chats?.UserID}}
      
      </div>
 </td>

  </tr>
</table>
<br>
<table style="margin-left:15%">
    <br>
  <h1>Martenal Issue Chat History</h1>
  <br>
    <tr>
      <th>Name</th>
      <th>Message</th>
      <th>UserID</th>
    </tr>
    <tr>
     <td>
        <div *ngFor="let chats1 of chatsList1">
          {{chats1?.Name}}
          &nbsp;
          &nbsp;
          </div>
     </td>
     <td>
    <div *ngFor="let chats1 of chatsList1">
        {{chats1?.Message}}
          
    </div>
     </td>
   <td>
      <div *ngFor="let chats1 of chatsList1">
          {{chats1?.UserID}}
        
        </div>
   </td>
  
    </tr>
  </table>
  <br>
  <table class="Mammo" style="margin-left:15%">
    <br>
  <h1>Mammography Chat History</h1>
      <tr>
        <th>Name</th>
        <th>Message</th>
        <th>UserID</th>
      </tr>
      <tr>
       <td>
          <div *ngFor="let chats2 of chatsList2">
            {{chats2?.Name}}
            &nbsp;
            &nbsp;
            </div>
       </td>
       <td>
      <div *ngFor="let chats2 of chatsList2">
          {{chats2?.Message}}
            
      </div>
       </td>
     <td>
        <div *ngFor="let chats2 of chatsList2">
            {{chats2?.UserID}}
          
          </div>
     </td>
    
      </tr>
    </table> -->
    <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css
">

<div class="jumbotron" >
<div class="row w-100">
        <div  style="margin-left:15%" class="col-md-10" >
            <div class="card border-info mx-sm-1 p-3">
                <div style="margin-left:10%" class="card border-info shadow text-info p-3 my-card" >
                  <span class="fa fa-car" aria-hidden="true"></span></div>
                <!-- <div class="text-info text-center mt-3">
                  <h4>Cars</h4>
                </div> -->
                <div class="text-info text-center mt-2" >
                    
                  <br>
                  <br>
                  <h1> User Information</h1>
                  <!-- <div *ngFor="let donation of donationList">
                      <h1> User Information</h1>
                  </div> -->

<table class="user"     >
    <br>
    <br>
  <!-- <caption><b>User Information</b></caption>
  <caption><b>User Information</b></caption> -->

  <br>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Email</th>
      <th>Remove</th>
    </tr>
    <tr>
     <td  style="text-align:left">
        <div *ngFor="let users of userList">
            {{users?.displayName}}
          
          </div>
     </td>
     <td  style="text-align:left">
        <div *ngFor="let users of userList">
            {{users?.gender}}
          
          </div>
          <td  style="text-align:left">
              <div *ngFor="let users of userList">
                  {{users?.age}}
                
                </div>
          </td>
   <td  style="text-align:left">
      <div *ngFor="let users of userList">
          {{users?.email}}
        
        </div>
   </td>
   
   <td  style="text-align:left">
    <div *ngFor="let users of userList">
      <button (click)="onDelete(users.key)">delete</button>
      
      </div>
 </td>
 
   
   
    </tr>
  </table>
                
                </div>
            </div>
        </div>
       
          
 

     </div>
</div>

<div  style="margin-left:15%" class="col-md-10" >
    <div class="card border-warning mx-sm-1 p-3">
        <div style="margin-left:10%" class="card border-warning shadow text-warning p-3 my-card" >
          <span class="fa fa-inbox" aria-hidden="true"></span></div>
       
        <div class="text-warning text-center mt-2">
            <br>
            <br>
            <h1>Mammography Chat History</h1>

            <!-- <div *ngFor="let chats2 of chatsList2">
                <h1>Mammography Chat History</h1>
            </div> -->

            <table  class="user">
                <br>
                <br>
          
              <br>
                  <tr>
                    <th>Name</th>
                    <th>Message</th>
                    <th>UserID</th>
                  </tr>
                  <tr>
                   <td  style="text-align:left">
                      <div *ngFor="let chats2 of chatsList2">
                        {{chats2?.Name}}
                        &nbsp;
                        &nbsp;
                        </div>
                   </td>
                   <td  style="text-align:left">
                  <div *ngFor="let chats2 of chatsList2">
                      {{chats2?.Message}}
                        
                  </div>
                   </td>
                 <td  style="text-align:left">
                    <div *ngFor="let chats2 of chatsList2">
                        {{chats2?.UserID}}
                      
                      </div>
                 </td>
                
                  </tr>
                </table>
        </div>
    </div>
</div>

  <!-- <div *ngFor="let donation of donationList">
  
      {{donation.type}}
  
  </div> -->
  
        
  
<br>
<br>
<div class="jumbo">
  <div class="row w-100">
  <div style="margin-left:15%" class="col-md-10">
    <div class="card border-danger mx-sm-1 p-3">
        <div style="margin-left:10%" class="card border-danger shadow text-danger p-3 my-card" >
          <span class="fa fa-heart" aria-hidden="true"></span>
        </div>
       
        <div class="text-danger text-center mt-2">
            <br>
            <br>
            <h1>Martenal Issue Chat History</h1>

            <!-- <div *ngFor="let chats1 of chatsList1">
                <h1>Martenal Issue Chat History</h1>
            </div> -->
            <table  class="user"  >
                <br>
          
              <br>
                <tr>
                  <th>Name</th>
                  <th>Message</th>
                  <th>UserID</th>
                </tr>
                <tr>
                 <td  style="text-align:left">
                    <div *ngFor="let chats1 of chatsList1">
                      {{chats1?.Name}}
                      &nbsp;
                      &nbsp;
                      </div>
                 </td>
                 <td  style="text-align:left">
                <div *ngFor="let chats1 of chatsList1">
                    {{chats1?.Message}}
                      
                </div>
                 </td>
               <td  style="text-align:left">
                  <div *ngFor="let chats1 of chatsList1">
                      {{chats1?.UserID}}
                    
                    </div>
               </td>
              
                </tr>
              </table>
        </div>
    </div>
</div>
<br>
<br>
  

</div>
</div>
<br>
<br>
<div style="margin-left:15%"  class="col-md-10">
    <div class="card border-success mx-sm-1 p-3">
        <div style="margin-left:10%" class="card border-success shadow text-success p-3 my-card">
          <span class="fa fa-eye" aria-hidden="true"></span>
        </div>
        <!-- <div class="text-success text-center mt-3">
          <h4>Eyes</h4>
        </div> -->

        <div class="text-success text-center mt-2">
            <br>
            <br>
            <h1>Cancer Chat History</h1>
            <!-- <div *ngFor="let chats of chatsList">
                <h1>Cancer Chat History</h1>
            </div> -->
            <table  class="user" >
                <br>
            
              <br>
                <tr>
                  <th>Name</th>
                  <th>Message</th>
                  <th>UserID</th>
                </tr>
                <tr>
                 <td  style="text-align:left">
                    <div *ngFor="let chats of chatsList">
                      {{chats?.Name}}
                      &nbsp;
                      &nbsp;
                      </div>
                 </td>
                 <td  style="text-align:left">
                <div *ngFor="let chats of chatsList">
                    {{chats?.Message}}
                      
                </div>
                 </td>
               <td  style="text-align:left">
                  <div *ngFor="let chats of chatsList">
                      {{chats?.UserID}}
                    
                    </div>
               </td>
              
                </tr>
              </table>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<div  style="margin-left:15%" class="col-md-10">
  <div class="card border-info mx-sm-1 p-3">
      <div  style="margin-left:10%"  class="card border-info shadow text-info p-3 my-card" >
        <span class="fa fa-car" aria-hidden="true"></span></div>
      <!-- <div class="text-info text-center mt-3">
        <h4>Cars</h4>
      </div> -->
      <div class="text-info text-center mt-2">
          
        <br>
        <br>
        <h1> Donation Information</h1>
        <!-- <div *ngFor="let donation of donationList">
            <h1> Donation Information</h1>
        </div> -->

<table class="user" >
<br>
<br>


<br>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
<th>location</th>
<th>Phone Number</th>

<th>Date</th>
</tr>
<tr>
<td  style="text-align:left">
<div *ngFor="let donation of donationList">
{{donation.name}}

</div>
</td>
<td  style="text-align:left">
<div *ngFor="let donation of donationList">
{{donation.type}}
  

</div>
</td>
<td  style="text-align:left">
    <div *ngFor="let donation of donationList">
{{donation.description}}

      
      </div>
</td>
<td  style="text-align:left">
    <div *ngFor="let donation of donationList">
{{donation.location}}

      
      </div>
</td>
<td  style="text-align:left">
    <div *ngFor="let donation of donationList">
{{donation.phoneNumber}}

      
      </div>
</td>

<td  style="text-align:left">
<div *ngFor="let donation of donationList">
{{donation.date | date:'dd-MM-yyy'}}


</div>
</td>



</tr>
</table>
      
      </div>
  </div>
</div>
