<table  style="width:100%">
  <br>
<caption><b>User Information</b></caption>
<br>
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>Age</th>
    <th>Email</th>
  </tr>
  <tr>
   <td>
      <div *ngFor="let users of userList">
          {{users?.displayName}}
        
        </div>
   </td>
   <td>
      <div *ngFor="let users of userList">
          {{users?.gender}}
        
        </div>
        <td>
            <div *ngFor="let users of userList">
                {{users?.age}}
              
              </div>
        </td>
 <td>
    <div *ngFor="let users of userList">
        {{users?.email}}
      
      </div>
 </td>
 
 
  </tr>
</table>