<!-- <p>login works!</p> -->

         
<div class="footer" >
    <a target="_blank" href="../../../assets/Capture.JPG">
      <img src="../../../assets/Capture.JPG" alt="Avatar" > 
      </a>
</div>
    <div class="container">

        
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <button type="submit" routerLink="/home">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
     <br>
     <br>
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>

  
