<!-- <p>login works!</p> -->
<div class="container">

<img class="img-circle" src="../../../assets/Capture.JPG"/> 
<br>

<label for="uname"><b>Username</b></label>
<br>
<input type="text" placeholder="Enter Username" [(ngModel)]="user.email" required>
<br>
<label for="psw"><b>Password</b></label>
<br>
<input type="password" placeholder="Enter Password" [(ngModel)]="user.password" required>
<br>
<button (click)="signInWithEmail()">Login</button>
      <!-- <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
     <br>
     <br>
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span> -->
    </div>

  
