<!-- <p>login works!</p> -->
<div class="container">

<img class="img-circle" src="../../../assets/Capture.JPG"/> 
<br>

<label><b>Username</b></label>
<br>
<input type="text" placeholder="Enter Username">
<br>
<label ><b>Password</b></label>
<br>
<input type="password" placeholder="Enter Password">
<br>
<button routerLink="/dashboard">Login</button>
      <!-- <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
     <br>
     <br>
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span> -->
    </div>

  
